body {
    @include fluid-text(18, 15);

    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;

    &.fixed {
        overflow: hidden;
    }

    .overlay {
        background: #000000;
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        display: none;
    }
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4 {
    font-weight: 700;
}

h1, .h1 {
    @include fluid-text(64, 28);
    line-height: 64px;

    @include tablet {
        line-height: 32px;
    }
}

h2, .h2 {
    @include fluid-text(50, 28);
    line-height: 60px;

    @include tablet {
        line-height: 32px;
    }
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.btn {
	border: 1px solid var(--color-accent);
	background: var(--color-accent);
	color: #FFFFFF;
	text-align: center;
    padding: 0 40px;
    height: var(--button-height);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border-radius: 35px;
    width: 100%;
    max-width: 286px;
    justify-content: center;

    &.btn-another {
        border-radius: 5px;
        max-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        height: 56px;
    }
}

::placeholder {
	color: #8F9296;
    font-size: 16px;
    line-height: 24px;
}

::selection {
	color: #fff;
}