.partners {
    
    @include tablet {
        overflow: hidden;
    }

    &__list {
        margin-bottom: 86px;
    }

    &__item {
        border-radius: 10px;
        padding: 29px 32px;
        background: var(--color-dark);
        color: var(--color-light);
        min-height: 182px;
    }
}

.partner-card {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.86px;
        margin-bottom: 5px;
    }

    &__link {
        font-size: 16px;
        font-weight: 300;
        line-height: 19.34px;
    }

    &__extra {
        margin-top: auto;

        &-title {
            font-size: 10px;
            font-weight: 300;
            line-height: 12.09px;
            margin-bottom: auto;
        }

        &-text {
            font-size: 20px;
            font-weight: 700;
            line-height: 24.42px;
            margin-bottom: auto;
        }
    }
}

.tesla {
    background: linear-gradient(90deg, #313131 50%, #444444 100%);
}

.nvidia {
    background: linear-gradient(90deg, #77B900 2.77%, #70AE00 100%);
}

.AMD {
    background: linear-gradient(90deg, #009A66 50%, #07C887 100%);
}

.apple {
    background: linear-gradient(90deg, #BBBBBB 50%, #E7E7E7 100%);
}

.amazon {
    background: linear-gradient(90deg, #FF9900 50%, #FFB23F 100%);
}

.ebay {
    background: linear-gradient(90deg, #E53238 50%, #F94F54 100%);
}

.google {
    background: linear-gradient(90deg, #34A853 50%, #FABC05 100%);
}

.microsoft {
    background: linear-gradient(90deg, #032368 50%, #01143D 100%);
}

.swiper.partners__list.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    overflow: visible;
    max-width: 100%;
}

.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}