.warning {
    background-color: var(--color-accent-light);
    padding-top: 24px;
    padding-bottom: 24px;
    display: none;

    &.active {
        display: block;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 32px;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 30px 10px 20px;
            gap: 10px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    
    &__subtitle {
        font-size: 18px;
        line-height: 24px;

        @include mobile {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__counter {
        margin-inline-start: auto;

        @include mobile {
            margin-left: 0;
        }

        .timer {
            display: flex;
            gap: 16px;
        
            &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                line-height: 26px;
                gap: 8px;

                @include mobile {
                    font-size: 12px;
                    line-height: 20px;
                }
        
                span {
                    border-radius: 16px;
                    width: 46px;
                    height: 46px;
                    background: var(--color-accent-dark);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 0.05em;

                    @include mobile {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }

            @include mobile {
                gap: 10px;
            }
        }
    }

    &__close {
        cursor: pointer;
        margin-inline-start: auto;
    
        rect {
            stroke: var(--color-accent-dark);
        }

        @include mobile {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    &.hidden {
        display: none;
    }
}